:root {
  font-family: "Lato", sans-serif;
  color: #323232;
}
body {
  text-align: center;
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
  overflow-x: hidden;
}
.bg-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  position: relative;
}
.bg-img {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  display: block;
  object-fit: cover;
  object-position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.bg-shadow {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.63);
  width: 100%;
  height: 100%;
}
.header-container {
  position: absolute;
  z-index: 1;
  margin-top: 10vh;
  box-sizing: border-box;
  text-align: center;
  font-family: "Lato", sans-serif;
  top: 2px;
  left: 10%;
  right: 10%;
  font-size: 3rem;
}
.header-container h3 {
  font-size: 2rem;
  color: azure;
}
h1,
h2 {
  background-color: #86cb92;
  max-width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  margin: 10px auto;
  font-family: "VT323", monospace;
}

h4 {
  padding-bottom: 50px;
  font-size: 60px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "VT323", monospace;
}
.content-img-round {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 2rem;
}
.spots {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.spots > div {
  text-align: center;
}
.spot {
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
h5 {
  font-size: 32px;
  font-family: "VT323", monospace;
}
.text-container {
  text-align: center;
  font-size: 20px;
  max-width: 600px;
  margin: 0 auto;
  border-style: solid;
  border-radius: 30px;
  border-color: #7a7a7a;
  padding: 1rem;
}

@media only screen and (max-width: 800px) {
  .spots {
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-content: center;
  }
  .text-container {
    margin-bottom: 5rem;
  }
  .header-container {
    font-size: 1.6rem;
    margin-top: 4vh;
  }
  .header-container > h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 2rem;
  }
}
